{%extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}


<div class="max-w-xl px-5 py-24 mx-auto">

<h1>Delete Lead for {{agent.user.first_name}} {{agent.user.last_name}}</h1>
<p>Are you sure you wanna delete this ?</p>
    <form method='POST' >
        {% csrf_token %}
        {{ form|crispy }}   
        <button type="submit" class="ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Delete</button>  </form>
</div>
<a href="/agents">Go back</a>
<hr/>

{% endblock %}