{%load static%}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=H, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>CRM</title>
    <style>
       .leads
       {
           padding-left:10px;
           background-color:beige;
           margin-top: 10px;
       }
    </style>
</head>

<body>
   {% include 'leads/nav.html' %}
   {% block content %}

   {% endblock %}
</body>
</html>